venv/
classifier/
misc/
output_combined.csv
output_combined_2.csv
output_combined(backup).csv

regressor/*
!regressor/parameters.ipynb
!regressor/rf_regressor.ipynb

lstm/*
!regressor/lstm_regressor.ipynb

adb/*
!adb/adb.ipynb

gbm/*
!gbm/gbm.ipynb

knn/*
!knn/knn.ipynb

lr/*
!lr/lr.ipynb

rf/*
!rf/rf.ipynb

rf_adb/*
!rf_adb/rf_adb.ipynb

rf_lr/*
!rf_lr/rf_lr.ipynb

rf_xgb/*
!rf_xgb/rf_xgb.ipynb

svm/*
!svm/svm.ipynb

xgb/*
!xgb/xgb.ipynb

tables/*
!tables/gridplot.ipynb
